{% extends 'base.html.twig' %}

{% block title %}AvForms index{% endblock %}

{% block body %}
    <div <div class="flex flex-col items-center w-full mt-20">
    <a class="hover:dark:bg-green-600 dark:bg-green-700 bg-green-500 hover:bg-green-600 px-2 py-1 rounded" href="{{ path('app_av_forms_new') }}">Create new form</a>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-5/6 mt-10">
            <table class="w-full text-sm text-left rtl:text-right text-grey-950 dark:text-white">
                <thead class="text-xs text-zinc-950 uppercase bg-green-500 dark:bg-green-800 dark:text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th> 
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-center">
                               Message
                            </div>
                        </th>
                        {# <th scope="col" class="px-6 py-3">
                            <div class="flex justify-center">
                                Starting date
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-center">
                                Duration
                            </div>
                        </th>                   
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-center">
                                Price
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-center">
                                Categories
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-center">
                                Countries
                            </div>
                        </th> #}
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-end">
                                Action
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                {% for av_form in av_forms %}
                    <tr class="bg-white border-b dark:bg-zinc-800 dark:border-zinc-700 ">
                        <th scope="row" class="px-6 py-4 font-medium text-zinc-900 whitespace-nowrap dark:text-white">
                            {{ av_form.id }}
                        </th>
                        <td class="px-6 py-4">
                            <div class="flex justify-center">
                                {{ av_form.message }}
                            </div>
                        </td>
                        {# <td class="px-6 py-4">
                            <div class="flex justify-center">
                                {{ av_travel.name }}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex justify-center">
                                {{ av_travel.dateStart ? av_travel.dateStart|date('Y-m-d H:i:s') : ''  }}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex justify-center">
                                {{ av_travel.duration }}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex justify-center">
                                {{ av_travel.price }}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex justify-center">
                            {% for category in av_travel.avCategories %}
                                    {{ category.name }}
                                    {% if not loop.last %},
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex justify-center">
                            {% for country in av_travel.avCountries %}
                                    {{ country.name }}
                                    {% if not loop.last %}, 
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td> #}
                        <td class="flex flex-col items-center px-5 py-3 ">
                            <a class="hover:dark:bg-green-700 hover:bg-green-500 px-2 py-1 rounded mx-1" href="{{ path('app_av_forms_show', {'id': av_form.id}) }}">show</a>
                            <a class="hover:dark:bg-green-700 hover:bg-green-500 px-2 py-1 rounded" href="{{ path('app_av_forms_edit', {'id': av_form.id}) }}">edit</a>
                        </td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
{# 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_form in av_forms %}
            <tr>
                <td>{{ av_form.id }}</td>
                <td>{{ av_form.message }}</td>
                <td>
                    <a href="{{ path('app_av_forms_show', {'id': av_form.id}) }}">show</a>
                    <a href="{{ path('app_av_forms_edit', {'id': av_form.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_av_forms_new') }}">Create new</a> #}
{% endblock %}
