{% extends 'base.html.twig' %}

{% block title %}AvCountries index{% endblock %}

{% block body %}
    <h1>AvCountries index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_country in av_countries %}
            <tr>
                <td>{{ av_country.id }}</td>
                <td>{{ av_country.name }}</td>
                <td>
                    <a href="{{ path('app_av_countries_show', {'name': av_country.name}) }}">show</a>
                    <a href="{{ path('app_av_countries_edit', {'name': av_country.name}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_av_countries_new') }}">Create new</a>
{% endblock %}
