{% extends 'base.html.twig' %}

{% block title %}AvCategories index{% endblock %}

{% block body %}
    <h1>AvCategories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_category in av_categories %}
            <tr>
                <td>{{ av_category.id }}</td>
                <td>{{ av_category.name }}</td>
                <td>
                    <a href="{{ path('app_av_categories_show', {'name': av_category.name}) }}">show</a>
                    <a href="{{ path('app_av_categories_edit', {'name': av_category.name}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_av_categories_new') }}">Create new</a>
{% endblock %}
